
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-container {
    position: relative;
}

.messages {
    height: 300px;
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 1em;
    overflow: scroll;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    display: block;
    background: rgb(39, 112, 215);
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: white;
}
form.msg-form {
    bottom: 1em;
    right: 1em;
    left: 1em;
}
.hidden {
    display: none;
}

.msg {
    margin-bottom: 5px;
}
.msg-text {
    display: inline-block;
}
.msg-normal .msg-text {
    padding: 5px;
    display: inline-block;
    background:rgb(39, 112, 215);
    border-radius: 5px;
    color: white;
}

.msg-notification .msg-text,
.msg-join .msg-text,
.msg-left .msg-text {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.msg-notification .msg-sender,
.msg-join .msg-sender, 
.msg-left .msg-sender {
    display: none;
}